			<section id='menu'>
				<div id='sensor'>
				</div>
				<div id='dot'>
					<div></div>
				</div>
				<nav id="navbar">
					<ul id="nav">
						<li><a href="/">Pokedex</a></li>
						<li><a href="/register">Register a new Pokemon</a></li>
						<li><a href="/details/1">Details</a></li>
					</ul>
					<div class="pokeball">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/15px-Pok%C3%A9_Ball_icon.svg.png">
						<!-- <div></div> -->
					</div>
				</nav>
			</section>
