<section id='p'>
	<article id="popup">
		<div>
			<h1>Pokemon was added successfully</h1>
		</div>
		<div>
			<button id="cPopup" onclick="window.location.href='/'">Back</button>
			<p>You gotta be redirected in 5 seconds...</p>
		</div>
	</article>
</section>
