@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
	padding: 							0;
	margin: 							0;
	font-family: 						'Press Start 2P', cursive;
}
*::-webkit-scrollbar {
  width: 0.1vh;
  height: 2rem
}
*::-webkit-scrollbar-track {
  background: #9e0004;
}
*::-webkit-scrollbar-thumb {
  background-color: #523961;
  border-radius: 1.5rem;
  border: 0.3rem solid #83a300;
}
@media(orientation: portrait){
	html{
		font-size: 							0.8vh;
	}
	main{
		height:								100%;
		flex-direction:						column-reverse;
	}
	section#cadastro,section#deck,section#detalhes,section#menu{
		width:								99%;
	}
	div#pokedex{
		width: 								100%;
	}
	.pokemon{
		width: 								100vw;
	}
	form label{
		font-size:							1rem;
	}
}
@media(orientation: landscape){
	html{
		font-size: 							0.5vw;
	}
	main{
		height:								87%;
		flex-direction:						row;
	}
	section#cadastro,section#deck,section#detalhes,section#menu{
		width:								48%;
	}
	div#pokedex{
		width: 								60%;
	}
	.pokemon{
		width: 								30vw;
	}
	form label{
		font-size:							1.5rem;
	}

}
body{
	height: 							100vh;
	width: 								100vw;
	box-sizing: 						border-box;
}
h1{
	font-size: 							2rem;
	line-height: 						3.5rem;
}
h2{
	font-size: 							1.9rem;
	line-height: 						2.8rem;
}
h3{
	font-size: 							1.8rem;
	line-height: 						2.5rem;
}
p{
	font-size: 							1.3rem;
	line-height: 						1.5rem;
	text-align:							center;
}
header{
	height:								8%;
	width:								100%;
	display:							flex;
	justify-content: 					center;
    align-items: 						center;
	text-align:							center;
	background:							#9e0004;
	color:								#e1e3db;
	cursor:								default;
}
header>div>h1{
	max-height:							100%;
	max-width:							100%;
	font-size:							4rem;
}




main{
	display:							flex;
	align-items:						center;
	background:							#b9030f;
}
section#cadastro,section#deck,section#detalhes,section#menu{
	height:								100%;
	display: 							flex;
	justify-content: 					center;
	align-items: 						center;
	background:							#b9030f;
}
section#deck{
	flex-direction: 					column;
}
section#cadastro{
	flex-wrap: 							wrap;
}
section h2{
	width: 								100%;
    height: 							fit-content;
	text-align:							center;
}
section form{
	padding:							2%;
	width: 								80%;
    height: 							75%;
    display: 							flex;
    flex-direction: 					column;
	flex-wrap: 							wrap;
    align-items: 						center;
    justify-content: 					space-evenly;
}
form>div{
	height:								15%;
	width:								85%;
	display:							flex;
	flex-direction:						column;
}
form>div:nth-child(5){
	height:								10%;
	align-items:						center;
}
form label{
	max-width:							80%;
	height:								40%;
	padding:							1%;
	display: 							flex;
    align-items: 						center;
	margin-left:						5%;
}
form input{
	max-width:							90%;
	height:								50%;
	border:								none;
	border-radius:						2rem;
	background:							#e1e3db;
	padding:							1% 5%;
}
form button{
	max-width:							50%;
	height:								100%;
	border:								solid 0.5rem #9e0004;
	border-radius:						2.5rem;
	padding:							1%;
	font-size:							1rem;
	background:							#738300;
	cursor:								pointer;
}
form button:hover{
	background:							#536300;
	transform:							scale(1.1);
}
div#pokedex{
	height:								80%;
	overflow:							hidden;
	background:							#9e0004;
}
.cards{
	height:								100%;
	width: 								max-content;
	background:							#9e0004;
	display:							inline-flex;
	/* margin:								1%; */
	align-items: 						stretch;
	overflow:							hidden;
	transform:							translateX(0);
	transition:							transform 0.2s ease-out;
	cursor:								grab;
}
.pokemon{
	max-height: 						100%;
	display: 							flex;
	background:							#e1e3db;
	flex-direction: 					column;
	justify-content: 					space-evenly;
	gap:								1%;
	align-items: 						center;
	user-select: 						none;
	transition:							transform 0.5s cubic-bezier(0.5, -0.74, 1, 1.74);
}
.pokemon>div{
	width:								100%;
	height:								8%;
	display: 							flex;
	flex-direction: 					row;
	justify-content: 					space-around;
	align-items: 						flex-end;
}
.pokemon p{
	height:								10%;
	width:								80%;
	display:							flex;
	align-items:						center;
}
.pokemon img{
	max-width: 							90%;
	max-height:							75%;
}
.grabbing{
	cursor:								grabbing;
}
.grabbing .pokemon{
	transform:							scale(0.85);
}
div#listing{
	height:								10%;
	width:								70%;
	overflow:							auto;
}
.lander{
	width: 								max-content;
	height:								100%;
	/* background:							#9e0004; */
	display:							inline-flex;
	/* margin:								1%; */
	align-items: 						center;
}
.mini{
	height:								5vh;
	margin:								0% 0.2%;
	display: 							flex;
	flex-direction: 					row;
	justify-content: 					space-around;
	align-items: 						flex-end;
}
.mini>img{
	max-height:							90%;
}
.mini:hover{
	transform:							scale(1.15);
	cursor:								pointer;
}

nav#navbar{
	width: 								50%;
	height: 							50%;
	background: 						white;
	color: 								rgba(0, 0, 0, 0.87);
	-webkit-clip-path: 					circle(5.5% at 10% 10%);
	clip-path: 							circle(5.5% at 10% 10%);
	-webkit-transition: 				-webkit-clip-path 0.5625s, clip-path 0.375s;
	transition: 						-webkit-clip-path 0.5625s, clip-path 0.375s;
}

nav#navbar:hover{
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: 		ease-out;
	-webkit-transition-duration: 		0.75s;
	transition-duration: 				0.75s;
	-webkit-clip-path: 					circle(60% at 5% 13%);
	clip-path: 							circle(60% at 5% 13%);
}
ul#nav{
	height:								50%;
	width:								50%;
}
li{
	height: 							30%;
    width: 								100%;
    display: 							flex;
	font-size:							1.5rem;
    line-height: 						100%;
    padding: 							0% 20%;
    cursor: 							pointer;
    -webkit-user-select: 				none;
    -moz-user-select: 					none;
    -ms-user-select: 					none;
    user-select: 						none;
    align-items: 						center;
}
li>a{
	color:								black;
}
li:hover{ 
	background: 						#ffe082;
}

li:active{
	background: 						#ffca28;
}

.pokeball{
	height: 							1%;
	width: 								5%;
	padding: 							8% 7%;
	cursor: 							pointer;
	-webkit-transform-origin: 			3.2% 2.4%;
	-ms-transform-origin: 				3.2% 2.4%;
	transform-origin: 					3.2% 2.4%;
}


footer{
	position:							relative;
	height:								5%;
	width:								100%;
	display:							flex;
	justify-content: 					center;
    align-items: 						center;
	text-align:							center;
	background:							#9e0004;
}
footer>a{
	color:								#e1e3db;
}
footer>a:hover{
	transform:							scale(1.1);
}